<div class="container">
    <h1 class="mt-2">{{months[monthId]}} {{year}}</h1>
    <h3>Month Net Total: {{total | currency}}</h3>
    <table class="table table-hover table-sm table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Income</th>
                <th>Expense</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entry of entries">
                <td>{{labelMap.get(entry.fields.label)}}</td>
                <td>{{entry.fields.entryDate | date: 'MM/dd/yyyy'}}</td>
                <ng-container *ngIf="entry.fields.isPositive">
                    <td>{{entry.fields.amount | currency}}</td>
                    <td></td>
                </ng-container>
                <ng-container *ngIf="!entry.fields.isPositive">
                    <td></td>
                    <td>({{entry.fields.amount | currency}})</td>
                </ng-container>
            </tr>
            <tr class="table-active">
                <td><strong>Total</strong></td>
                <td></td>
                <td>{{income | currency}}</td>
                <td>({{expenses | currency}})</td>
            </tr>
        </tbody>
    </table>
</div>