<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="mt-2">{{months[monthId]}} {{year}}</h1>
            <h3>Month Net Total:
                <span [ngClass]="{'positive': total > 0, 'negative': total <= 0}">{{total | currency}}</span>
            </h3>
        </div>
        <div class="col-4">
            <button [routerLink]="['/month', 'entry', 'create']" class="btn mt-3">Create New Entry</button>
        </div>
    </div>
    <table class="table table-hover table-sm table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Income</th>
                <th>Expense</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entry of entries" class="clickable" [routerLink]="['/month', 'entry', entry.pk ,'edit']">
                <td>{{labelMap.get(entry.fields.label)}}</td>
                <td>{{entry.fields.entryDate | date: 'MM/dd/yyyy'}}</td>
                <ng-container *ngIf="entry.fields.isPositive">
                    <td>{{entry.fields.amount | currency}}</td>
                    <td></td>
                </ng-container>
                <ng-container *ngIf="!entry.fields.isPositive">
                    <td></td>
                    <td>({{entry.fields.amount | currency}})</td>
                </ng-container>
            </tr>
            <tr class="table-active">
                <td><strong>Total</strong></td>
                <td></td>
                <td>{{income | currency}}</td>
                <td>({{expenses | currency}})</td>
            </tr>
        </tbody>
    </table>
</div>