<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{month.name}}
        </mat-card-title>
        <mat-card-subtitle>{{month.year}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col-6">Income:</div>
                <div class="col-6">{{monthOverview.income}}</div>
            </div>
            <div class="row">
                <div class="col-6">Expenses:</div>
                <div class="col-6">{{monthOverview.expenses}}</div>
            </div>
            <div class="row">
                <div class="col-6">Total:</div>
                <div class="col-6">{{monthOverview.total}}</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>