<div class="container">
    <div class="row">
        <div class="col">
            <form [formGroup]="labelCreateForm">
                <mat-toolbar>
                    <mat-toolbar-row>
                        <span>
                            <h3>Create Label</h3>
                        </span>
                        <span class="toolbar-spacer"></span>
                        <button (click)="onSubmit()" class="btn btn-lg">Submit</button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="nameInput">Label Name</label>
                                <input type="text" class="form-control" id="nameInput" formControlName="labelText">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>